/****************************
* This is the CSS for the DST.
* Copy and paste this directly into the CSS textarea on obsidianportal.com
*****************************/

/****************************
* Basic Info
*****************************/
.thirteenth_age .basic_info { margin-bottom: 2em; }

.thirteenth_age .name_class {
    display: inline-block;
    float: left;
    margin-right: 8em;
}

/****************************
* row two: ability scores, derived stats and hp
*****************************/
.thirteenth_age .row_two { clear: both; }

.thirteenth_age .row_two div { vertical-align: top; }

/****************************
* ability scores should look like a table
*****************************/
.thirteenth_age .ability_scores {
    margin-right: 3em;
    display: inline-block;
}

.thirteenth_age .ability_scores div { clear: left; }

.thirteenth_age .ability_scores span { float: left; }
.thirteenth_age .ability_scores span:first-of-type {
    text-align: left;
    width: 7em;
}
.thirteenth_age .ability_scores span:not(first-of-type) {
    text-align: center;
    width: 3em;
}

/****************************
* derived stats, too
*****************************/
.thirteenth_age .derived_stats {
    margin-right: 3em;
    display: inline-block;
}
.thirteenth_age .derived_stats span {
    float: left;
    min-width: 3em;
}

/****************************
* same with HP and recoveries
*****************************/
.thirteenth_age .health_stats { display: inline-block; }

.thirteenth_age .health_stats span:first-of-type {
    float: left;
    min-width: 8em;
}

/***************************
* three columns of text for these items
****************************/
.thirteenth_age .column1, .thirteenth_age .column2, .thirteenth_age .column3 {
    float: left;
    width: 20em;
    margin-right: 3em;
    margin-bottom: 1em;
}

.thirteenth_age .column3 { width: 25em; }

.thirteenth_age .combat_stats { margin-bottom: 2em; }

.thirteenth_age .combat_stats span {
    float: left;
    min-width: 7em;
}

.thirteenth_age .player_info { clear: both; }
