/****************************
* This is the CSS for the DST.
* Copy and paste this directly into the CSS textarea on obsidianportal.com
*****************************/

/***********************
/* global styling
 ***********************/
.ds_force_destiny .force_destiny_label, .ds_force_destiny h3 { font-family: sans-serif; }

.ds_force_destiny .force_destiny_label { font-weight: bold; }

/***********************
 * basic info
 ***********************/
.ds_force_destiny .basic_info {
    background: lightgray;
    width: 600px;
    margin-bottom: 50px;
}

/* cut out the bottom left corner of the basic info background */
.ds_force_destiny .basic_info:after {
    position: relative;
    left: 0px;
    bottom: 20px;
    content: '';
    border-bottom: 20px solid white;
    border-right: 20px solid transparent;
}

/* separator lines between basic info items */
.ds_force_destiny .basic_info div { border-bottom: 2px solid darkgrey; }
.ds_force_destiny .basic_info .name .force_destiny_label { border-bottom: none; }

.ds_force_destiny .avatar {
    float: right;
    max-height: 400px;
    max-width: 200px;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
}

/***********************
 * derived stats
 ***********************/
.ds_force_destiny .derived_stats {
  margin-bottom: 2em;
  background: lightpink;
  width: 830px;
}

.ds_force_destiny .derived_stats .stat_shadow {
  display: inline-block;
  margin: 0 20px;
  background: lightblue;
}

.ds_force_destiny .derived_stats div { text-align: center; }

.ds_force_destiny .derived_stats .stat {
  position: relative; top: -2em; /* stats are a little above their shadows */
  vertical-align: top;
}

.ds_force_destiny .derived_stats .stat .stat_values { background: white; }

.ds_force_destiny .derived_stats .stat .force_destiny_label {
    color: white;
    background: darkred;
}
.ds_force_destiny .derived_stats .stat .stat_name_light {
  color: black;
  background: lightblue;
}
