/****************************
* This is the CSS for the DST.
* Copy and paste this directly into the CSS textarea on obsidianportal.com
*****************************/

/***********************
/* global styling
 ***********************/
.ds_force_destiny {
    font-family: sans-serif;
    font-size: 9pt;
}

.ds_force_destiny .force_destiny_label { font-weight: bold; }

/***********************
 * basic info
 ***********************/
.ds_force_destiny .basic_info {
    background: lightgray;
    width: 600px;
    margin-bottom: 50px;
}

/* cut out the bottom left corner of the basic info background */
.ds_force_destiny .basic_info:after {
    position: relative;
    left: 0px;
    bottom: 18px;
    content: '';
    border-bottom: 20px solid white;
    border-right: 20px solid transparent;
}

/* separator lines between basic info items */
.ds_force_destiny .basic_info div { border-bottom: 2px solid darkgrey; }
.ds_force_destiny .basic_info .name .force_destiny_label { border-bottom: none; }

.ds_force_destiny .avatar {
    float: right;
    max-height: 400px;
    max-width: 200px;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
}

/***********************
 * derived stats
 ***********************/
.ds_force_destiny .derived_stats {
    margin-bottom: 2em;
    width: 840px;
    background: #ffcce6; /* pale, pinkish color */
}

.ds_force_destiny .derived_stats .stat_shadow {
    display: inline-block;
    position: relative; top: -25px;
    margin: 0 10px;
    width: 186px;
    background: #b3ffe6; /* light blue */
}

.ds_force_destiny .derived_stats .stat .stat_name_header,
.ds_force_destiny .derived_stats .stat .stat_score,
.ds_force_destiny .derived_stats .stat .stat_name {
    padding: 10px 0;
}
.ds_force_destiny .derived_stats .stat { border: 1px solid darkgrey; }
.ds_force_destiny .derived_stats .stat span {
    display: inline-block;
    width: 88px;
}
.ds_force_destiny .derived_stats .stat .stat_name:first-of-type { width: 92px; }

.ds_force_destiny .derived_stats div { text-align: center; }

.ds_force_destiny .derived_stats .stat .stat_values { background: white; }
.ds_force_destiny .derived_stats .stat .force_destiny_label {
    color: white;
    background: #660000; /* deep red */
}
.ds_force_destiny .derived_stats .stat .stat_name_light {
    color: black;
    background: #b3ffe6; /* light blue, to match the stat_shadow background */
}

.ds_force_destiny .derived_stats .stat_values span:nth-of-type(2) { border-left: 1px solid grey;}

/***********************
 * characteristics
 ***********************/
.ds_force_destiny .characteristics {
    text-align: center;
    width: 920px;
    margin-bottom: 40px;
    background: #cf7c7c; /* light orange */
}

.ds_force_destiny .characteristics .row_label  {
    position: relative; top: -10px;
    width: 200px;
    padding: 5px 0;
    margin: 0 360px;
    background: #004d4d; /* green-blue */
    color: white;
}

.ds_force_destiny .characteristics .stat_block {
    display: inline-block;
    position: relative;
    top: 20px;
    width: 110px;
    margin: 0 20px;
    background: #004d4d; /* green-blue */
}

.ds_force_destiny .characteristics .stat_block .stat_score  {
    width: 70px;
    height: 15px;
    padding: 28px 0 28px 0;
    margin: 5px 18px;
    border-radius: 50%;
    border: 2px solid black;
    font-size: 14pt;
    background: white;
}

.ds_force_destiny .characteristics .stat_block .force_destiny_label {
    padding: 10px 0;
    background: #7cb2cf; /* washed-out pale blue */
}

/***********************
 * skills
 ***********************/
.ds_force_destiny .skills {
    text-align: center;
    width: 900px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.ds_force_destiny .skills .column {
    display: inline-block;
    padding: 20px 20px 20px 20px;
    margin: 0 10px;
    background: #d1d0ce; /* faint grey */
}

.ds_force_destiny .skills .row_label  {
    position: relative; top: 10px;
    width: 200px;
    padding: 5px 0;
    margin: 0 350px;
    background: #004d4d; /* green-blue */
    color: white;
}

.ds_force_destiny .skills .skill_row {
    height: 20px;
    border: 1px dashed grey;
}
.ds_force_destiny .skills .skill_header_row { border: 1px solid #d1d0ce; /* faint grey */ }

.ds_force_destiny .skills .skill_row span {
    text-align: left;
    display: inline-block;
    width: 100px;
}
.ds_force_destiny .skills .skill_row span:nth-of-type(3n+1) { width: 170px; }

/***********************
 * weapons
 ***********************/
.ds_force_destiny .weapons {
    text-align: center;
    width: 880px;
    padding: 0 20px 20px 20px;
    margin-bottom: 40px;
    background: #e5e4e2; /* very faint grey */
}

.ds_force_destiny .weapons .row_label  {
    position: relative; top: -10px;
    width: 200px;
    padding: 5px 0;
    margin: 0 340px;
    background: #004d4d; /* green-blue */
    color: white;
}

.ds_force_destiny .weapons .weapon_row { border: 1px dashed grey; }
.ds_force_destiny .weapons .weapon_header_row { border: 1px solid #e5e4e2; /* very faint grey */ }

.ds_force_destiny .weapons .weapon_row span {
    text-align: left;
    display: inline-block;
    width: 140px;
}

.ds_force_destiny .weapons .weapon_row span { text-align: center; }
.ds_force_destiny .weapons .weapon_row span:nth-of-type(1) { text-align: left; }
.ds_force_destiny .weapons .weapon_row span:nth-of-type(6) { text-align: right; }

/***********************
 * motivations
 ***********************/
.ds_force_destiny .motivations_area {
    width: 600px;
    padding: 20px;
    margin-bottom: 40px;
    background: lightgray;
}

.ds_force_destiny .motivations_area .motivations_header {
    text-align: right;
    width: 100px;
    padding-left: 500px;
}

.ds_force_destiny .motivations_area .motivations { background: #008000; /* dull green */ }

.ds_force_destiny .motivations_area .motivation {
    display: inline-block;
    vertical-align: top;
    width: 288px;
    min-height: 100px;
    padding: 5px;
    background: white;
}

.ds_force_destiny .motivations_area .motivation .motivation_type {
    padding: 5px 0 5px 0;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}
.ds_force_destiny .motivations_area .motivation .motivation_type .force_destiny_label { margin-right: 2px; }

/***********************
 * morality
 ***********************/
.ds_force_destiny .morality_area {
    width: 600px;
    padding: 20px;
    margin-bottom: 40px;
    background: lightgray;
}

.ds_force_destiny .morality_area .morality_header {
    text-align: right;
    width: 100px;
    padding-left: 500px;
}

.ds_force_destiny .morality_area .moralities {
    border: 1px solid #008000; /* dull green */
    background: #008000; /* dull green */
}

.ds_force_destiny .morality_area .strength_weakness,
.ds_force_destiny .morality_area .conflict_morality {
    display: inline-block;
    vertical-align: top;
    width: 287px;
    padding: 5px;
    background: white;
}

.ds_force_destiny .morality_area .emotional_strengths,
.ds_force_destiny .morality_area .emotional_weaknesses,
.ds_force_destiny .morality_area .conflict,
.ds_force_destiny .morality_area .morality { min-height: 60px; }

.ds_force_destiny .morality_area .force_destiny_label {
    padding: 5px 0 5px 0;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

/***********************
 * equipment
 ***********************/
.ds_force_destiny .equipment_area {
    width: 600px;
    padding: 20px;
    margin-bottom: 40px;
    background: lightgray;
}

.ds_force_destiny .equipment_area .row { padding: 5px 0 5px 0; }
.ds_force_destiny .equipment_area .row div { display: inline-block; }

.ds_force_destiny .equipment_area .row .equipment_header {
    width: 100px;
    margin-left: 197px;
    text-align: right;
}

.ds_force_destiny .equipment_area .credits,
.ds_force_destiny .equipment_area .weapons_armor,
.ds_force_destiny .equipment_area .personal_gear {
    display: inline-block;
    width: 287px;
    padding: 5px;
    background: white;
}

.ds_force_destiny .equipment_area .credits .force_destiny_label { margin-right: 5px; }

.ds_force_destiny .equipment_area .weapons_armor .force_destiny_label,
.ds_force_destiny .equipment_area .personal_gear .force_destiny_label {
    padding: 5px 0 5px 0;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}
